.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.page {
    background: hsl(
        var(--color-panel-hue),
        var(--color-panel-sat),
        var(--color-panel-light)
      );

      border-radius: 40px;
      padding: 20px 40px;
      overflow-y: auto;
}